$background-color-skyblue: #19d9fd;
$background-color-blue: #0000ff;
$background-color-orangered: #ff4500;
$background-color-gold: #ffd700;
$background-color-medium-sea-green: #42b983;
// border
$border-color-gray: #808080;
$border-color-green-and-blue: #5ffccb;

// font
$font-color-white: #ffffff;
$font-color-gray: #808080;